<template>
    <h1>${title}</h1>
    <form>
        <p>Passport No. <input type="text" value.bind="inputValue.PassportNo"/></p>
        <p>Nationality <input type="text" value.bind="inputValue.Nationality"/></p>
        <p>Date of Birth <input type="date" value.bind="inputValue.DateOfBirth"/></p>
        <p>Gender <select value.bind="inputValue.Gender">
            <option value="-1">Choose...</option>
            <option value="0">Male</option>
            <option value="1">Female</option>
            </select></p>
        <p>Date of Expiry <input type="date" value.bind="inputValue.DateOfExpiry"/></p>
        <p>Mzr <input type="text" value.bind="inputValue.Mzr" /></p>
    </form>
    <p>Validation Result: ${validationResult.valid} - ${validationResult.message}</p>
    <input type="button" click.trigger="ValidateMzr()" />
</template>